extends layout.pug

block content
  h1 Edit Profile

      div.form-group

  form(action="/edit-profile" method="post")
    div.form-group
        label(for="name") Name:
        input(type="text", name="name", id="name", value=user.name required)
    
    div.form-group
        label(for="email") Email:
        input(type="email", name="email", id="email", value=user.email required)

    div.form-group
        label(for="dob") Date of Birth:
        input(type="date", name="dob", id="dob", value= user.dob ? user.dob.toISOString().split('T')[0] : null)

    div.form-group
        label(for="gender") Gender:
        select(name="gender" id="gender")
            option(value="male" selected=(user.gender == 'male')) Male
            option(value="female" selected=(user.gender == 'female')) Female
            option(value="other" selected=(user.gender == 'other')) Other

    div.form-group
        label(for="location") Location:
        input(type="text", name="location", id="location", value=user.location)

    div.form-group
      label Travel Locations:
      div
        input(type="checkbox", name="travel_locations", id="north_london", value="North London")
        label(for="north_london") North London
      div
        input(type="checkbox", name="travel_locations", id="south_london", value="South London")
        label(for="south_london") South London
      div
        input(type="checkbox", name="travel_locations", id="east_london", value="East London")
        label(for="east_london") East London
      div
        input(type="checkbox", name="travel_locations", id="west_london", value="West London")
        label(for="west_london") West London
      div
        input(type="checkbox", name="travel_locations", id="central_london", value="Central London")
        label(for="central_london") Central London
    button(type="submit") Update Profile
