extends layout.pug

block content
  h1 HOBBY LOBBY
  p WHERE HOBBIES TURN INTO FRIENDSHIPS
  p *master something new everyday*

  <a class="button" href="/users">Users</a>
  
  <a class="button" href="/listings">Listings</a>

img(src="/static/images/homepage-banner.jpg" alt="Explore new hobbies" width="300")


