extends layout.pug

block content
  p
      em master something new everyday



  <a class="button" href="/users">Users</a>
  
  <a class="button" href="/listings">Listings</a>
  
  <a class="button" href="/signup">Sign Up</a>
  
  <a class="button" href="/signin">Sign In</a>

  


