extends layout.pug

block content
  h1 Welcome to the Home Page!
  p This is the home page of our application.

  <a class="button" href="/users">Users</a>
  
  <a class="button" href="/listin">listings</a>