extends layout.pug

block content
  h1 Welcome to HobbyLobby!
  p Find and share your passions with others.
  p Explore our community:
  ul
    li
      a(href="/users") Browse Users
    li
      a(href="/listings") View Listings
  p Join us today!
  a(href="/signin", class="button") Sign Out
