extends layout.pug

block content
  h1 HOBBY LOBBY
  p WHERE HOBBIES TURN INTO FRIENDSHIPS
  p 
    em master something new everyday

  img(src="/static/images/welcome.jpg" width="300")

  <a class="button" href="/users">Users</a>
  
  <a class="button" href="/listings">Listings</a>

  


