doctype html
html
    head
        title HobbyLobby
        link(rel="stylesheet", href="/styles.css")
    body
      .header
        a(href="/") HobbyLobby
        nav
          a(href="/users") Users
          a(href="/listings") Listings
          a(href="/profile") Profile
      .content
        block content
