doctype html
html
    head
        title HobbyLobby
        link(rel="stylesheet", href="/styles.css")
    body(style="background-image: url('/images/backgroung.png'); background-size: cover; background-repeat: no-repeat;")
        block content
