extends layout_no_links.pug

block content
  .signin-page
    .logo-wrapper
      img(src='/images/2.png', alt='Logo', class='background-logo')

    .signin-form
      h1 Sign In
      form(action='/signin', method='post')
        .form-group
          label(for='email') Email:
          input(type='email', id='email', name='email', required=true, class='form-control')
        .form-group
          label(for='password') Password:
          input(type='password', id='password', name='password', required=true, class='form-control')
        button(type='submit', class='button') Sign In

      p
        a(href='/signup') Don't have an account? Sign Up
